---
layout: default
title: Melody of Code
---

{% for post in site.posts %}
  <div class="block--list block--preview">

    <div class="block-postMeta postMeta-previewHeader">
      <div class="u-floatLeft">

        <div class="postMetaInline-avatar">
          <a title="{{ post.title }}" href="{{ post.url }}">
            <img src="{{ post.image_url }}" class="avatar-image u-sm-size36x36" alt="">
          </a>
        </div>

        <div class="postMetaInline-feedSummary">
          <a class="link--accent" title="" href="{{ post.url }}">
          	{{ post.tags | array_to_sentence_string }}
          </a>
          <span class="postMetaInline postMetaInline--supplemental">
            {{ post.level }}
            <!-- <a href="{{ post.url }}"></a> -->
            <span class="middotDivider"></span>
            {{ post.date | date_to_string }}<span></span>
          </span>
        </div>

      </div>
      <div class="u-floatRight"></div>
    </div> <!-- end previewHeader -->

    <div class="block-streamText">
        <article class="postArticle postArticle--short">
          <a href="{{ post.url }}" class="block-linkHack"></a>
            <section class="postWrapper postContent">
                <div class="postField postField--body">
              	{% if post.theme_image %} 
									<figure class="graf--figure">
										<div class="aspectRatioPlaceholder is-locked">
											<div class="aspect-ratio-fill"></div>
											<img class="graf-image" src="{{ post.theme_image }}">
										</div>
									</figure>
								{% endif %}

                <h3 class="graf--h3 graf--first">{{ post.title }}</h3>
                <p class="graf--last">{{ post.brief }}</p>
              </div>
            </section>
        </article>
    </div> <!-- end streamText -->
    
    <div class="block-postMeta postMeta-previewFooter">
      <div class="u-floatLeft">
        <a class="link--accent" href="{{ post.url }}">继续阅读</a>
        <span class="middotDivider"></span>
        <span class="postMetaInline">
          <span class="">{{ post.content | number_of_words }} 字</span>
        </span>
      </div>
    </div> <!-- end previewFooter -->

  </div> <!-- end block -->

{% endfor %}
