<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="JP Joanna" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>
   <link rel="stylesheet" href="/assets//css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/assets/css/screen_new.css" type="text/css" media="screen, projection" />
</head>
<body>
<div class="site-main surface-container">
  <div class="surface">
    <div class="screenContent surface-content">
      <div class="u-foreground js-homepage">
        
        <div class="metabar u-clearfix js-metabar metabar--top metabar--bordered">
          <div class="metabar-block metabar-left u-floatLeft">
            <a href="https://medium.com/" alt="Homepage" data-log-event="home" class="siteNav-logo siteNav-logo--wordmark">
              <span class="icon icon--logoM"></span>
              <span class="icon icon--wordmark"></span>
            </a>
          </div>
          <div class="metabar-block metabar-center">
            <nav class="navTabs navTabs--metabar navTabs--narrow">
              <ul class="navTabs-list layoutSingleColumn">
                <li class="navTabs-item is-active">
                  <a class="navTabs-anchor" href="/">HOME</a>
                </li>
                <li class="navTabs-item">
                  <a class="navTabs-anchor" href="/" data-action="view-top-stories">ABOUT</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="layoutSingleColumn layoutSingleColumn--withSidebar u-sizeViewHeightMin100">

          <div class="blockGroup blockGroup--posts js-blockGroupPosts blockGroup--inset blockGroup--list container u-size620">
            <div class="blockGroup-list layoutSingleColumn">
              
              <div class="block block--inset block--list block--preview js-block js-trackedPost postItem">

                <div class="block-postMeta postMeta-previewHeader">
                  <div class="u-floatLeft">

                    <div class="postMetaInline-avatar">
                      <a class="link" title="Go to Girls’ Education" href="https://medium.com/girls-education">
                        <img src="/assets/images/tmp.jpeg" class="avatar-image avatar-image--roundedRectangle u-xs-size32x32 u-sm-size36x36" alt="Girls’ Education">
                      </a>
                    </div>

                    <div class="postMetaInline-feedSummary">
                      <a class="link link--accent link--darken" title="Go to Girls’ Education" href="https://medium.com/girls-education">Girls’ Education</a>
                      <span class="postMetaInline postMetaInline--supplemental">
                        <a class="link link--darken" title="Go to the profile of Room to Read" href="https://medium.com/@RoomtoRead" dir="auto">Room to Read</a>
                        <span class="middotDivider"></span>
                        1 day ago<span></span>
                      </span>
                    </div>

                  </div>
                  <div class="u-floatRight"></div>
                </div> <!-- end previewHeader -->

                <div class="block-streamText">
                  <div class="block-content">
                    <article class="postArticle postArticle--short">
                      <a href="https://medium.com/@elipariser/facebook-published-a-big-new-study-on-the-filter-bubble-here-s-what-it-says-ef31a292da95?source=reading-list" class="block-linkHack"></a>
                      <div class="layoutSingleColumn">
                        <section class="postWrapper">
                          <div class="postContent">
                            <div class="postField postField--body">
                              <section class=" section--content section--first section--last">
                                <div class="section-content">
                                  <div class="section-inner layoutSingleColumn">
                                    <h2 name="73c1" id="73c1" class="graf--h2 graf--first">Facebook published a big new study on the filter bubble. Here’s what it says.</h2>
                                    <p name="c296" id="c296" class="graf--p graf--last">A few years ago, I gave a <a href="https://www.ted.com/talks/eli_pariser_beware_online_filter_bubbles" data-href="https://www.ted.com/talks/eli_pariser_beware_online_filter_bubbles" class="markup--anchor markup--p-anchor" rel="nofollow">talk</a> about how algorithms and social media shape what we know. I focused on the dangers of the “filter bubble” — the personalized universe of information that makes it into our feed — and argued that news-filtering algorithms narrow what we know, surrounding us in information…</p>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </section>
                      </div>
                    </article>
                  </div>
                </div> <!-- end streamText -->
                
                <div class="block-postMeta postMeta-previewFooter">
                  <div class="u-floatLeft">
                    <a class="link link--accent link--darken" href="https://medium.com/@JakeHanrahan/meeting-a-silk-road-drugs-boss-72f2bcf11ae9?source=reading-list" data-action="open-post" data-action-value="https://medium.com/@JakeHanrahan/meeting-a-silk-road-drugs-boss-72f2bcf11ae9?source=reading-list">Continue reading</a>
                    <span class="middotDivider"></span>
                    <span class="postMetaInline postMetaInline--bookmark">
                      <span class="readingTime">19 min read</span>
                    </span>
                  </div>
                </div> <!-- end previewFooter -->

              </div> <!-- end block -->

            </div> <!-- end blockGroup-list  -->

          </div> <!-- end blockGroup--posts -->


        </div> <!-- end layoutSingleColumn -->

      </div>
    </div>
  </div>
</div>
</body>
</html>
